body {
  background-color: #dbd6be;
}

.body-hidden {
  overflow: hidden;
}

.container {
  max-width: 530px;
  padding: 30px 60px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(71, 44, 71, 0.8),
      rgba(34, 33, 34, 0.8)
    ),
    url(../form-page/books.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  color: antiquewhite;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;

  &-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}

label {
  margin-right: 10px;
  font-style: italic;
  color: #cbcaca;
}

input {
  border: 1px solid transparent;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &[type="submit"] {
    height: 39px;
    border-radius: 6px;
    margin-top: 15px;
    width: 205px;
    display: block;
    margin: 25px auto;
    font-size: 17px;
    background-color: rgba(239, 239, 239, 0.6);

    &:disabled {
      background-color: rgba(239, 239, 239, 0.3) !important;
      color: rgba(16, 16, 16, 0.3) !important;
    }
  }

  &[type="text"],
  &[type="number"],
  &[type="date"] {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: rgb(255 255 255);
    height: 22px;
    font-size: 16px;
  }
}

.input-invalid {
  border: 1px solid red;
  border-radius: 3px;
}

.message {
  color: red;
  font-size: 13px;
  line-height: 16px;
  font-style: italic;
  height: 16px;
  text-align: center;
}

.gifts {
  flex-direction: column;
  display: flex;
  gap: 9px;
  margin-top: 15px;
}
.customer-info {
  display: none;

  &-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(
        to bottom,
        rgba(71, 44, 71, 0.8),
        rgba(34, 33, 34, 0.8)
      ),
      url(../form-page/books.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    z-index: 10;
  }

  &-header {
    font-size: 28px;
    text-align: center;
  }

  &-item {
    color: #dbd6be;
    font-size: 26px;
    text-transform: capitalize;
    font-style: italic;
  }
}

.wrapper {
  max-width: 560px;
  max-height: 420px;
  margin: 100px auto;
  border-radius: 20px;
  padding: 50px;
  background-color: rgb(162, 161, 163, 0.7);
}

.span {
  font-style: normal;
}
